In [1]:
import pandas as pd

In [2]:
ar = pd.read_excel(r"C:\Users\egonz\Desktop\Data/AREQUIPA (1).xlsx")

In [3]:
ar["Region"] = "AREQUIPA"
region = ar["Region"]
ar.drop(labels = "Region", axis=1, inplace = True)
ar.insert(0, "Region", region)

In [4]:
ar.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [5]:
ar

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,AREQUIPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AREQUIPA,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,AREQUIPA,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,AREQUIPA,AREQUIPA,P. Arequipa,407,396,803,2395,2306,4701,1372,...,2406,4882,2793,1689,9,13,2153,1996,1176,179
4,AREQUIPA,AREQUIPA,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,AREQUIPA,HUANUHUANU,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,AREQUIPA,ATIQUIPA,P. Atiquipa,5,1,6,20,13,33,0,...,14,39,25,14,0,0,12,0,27,0
267,AREQUIPA,ATIQUIPA,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,AREQUIPA,ATICO,P. Atico,6,4,10,46,10,56,0,...,14,66,52,14,0,0,40,0,26,0
269,AREQUIPA,ATICO,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
ar["District"] = ar["District"].str.upper()
ar["Place"] = ar["Place"].str.upper()

In [7]:
ar["Place"] = ar["Place"].str.strip()

In [8]:
errors = ar.loc[ar["Place"]=="TOTAL"]
errors_list = errors.index.tolist()

In [9]:
ar_clean = ar.drop(ar.index[errors_list])
ar_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,AREQUIPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AREQUIPA,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,AREQUIPA,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,AREQUIPA,AREQUIPA,P. AREQUIPA,407,396,803,2395,2306,4701,1372,...,2406,4882,2793,1689,9,13,2153,1996,1176,179
5,AREQUIPA,MIRAFLORES,P. MIRAFLORES,60,60,120,336,287,623,109,...,345,735,396,347,0,0,282,208,253,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,AREQUIPA,YAUCA,P. TAUCA,5,3,8,21,19,40,16,...,22,48,26,22,0,0,16,3,29,0
262,AREQUIPA,YAUCA,YAUCA,3,0,3,22,12,34,13,...,12,37,25,12,0,0,12,0,25,0
264,AREQUIPA,HUANUHUANU,P. HUANUHUANU,2,1,3,23,24,47,5,...,25,50,25,25,0,0,6,0,44,0
266,AREQUIPA,ATIQUIPA,P. ATIQUIPA,5,1,6,20,13,33,0,...,14,39,25,14,0,0,12,0,27,0
268,AREQUIPA,ATICO,P. ATICO,6,4,10,46,10,56,0,...,14,66,52,14,0,0,40,0,26,0

In [10]:
ar_clean = ar_clean.drop([0, 1, 2],axis=0)
ar_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,AREQUIPA,AREQUIPA,P. AREQUIPA,407,396,803,2395,2306,4701,1372,...,2406,4882,2793,1689,9,13,2153,1996,1176,179
5,AREQUIPA,MIRAFLORES,P. MIRAFLORES,60,60,120,336,287,623,109,...,345,735,396,347,0,0,282,208,253,0
6,AREQUIPA,MIRAFLORES,LAMBRAMANI,7,3,10,26,17,43,16,...,20,53,33,20,0,0,41,2,10,0
7,AREQUIPA,MIRAFLORES,CHILINA,2,3,5,9,9,18,4,...,12,23,11,12,0,0,0,0,23,0
9,AREQUIPA,CHIGUATA,P. CHIGUATA,50,56,106,225,176,401,35,...,232,506,275,232,0,0,34,268,205,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,AREQUIPA,YAUCA,P. TAUCA,5,3,8,21,19,40,16,...,22,48,26,22,0,0,16,3,29,0
262,AREQUIPA,YAUCA,YAUCA,3,0,3,22,12,34,13,...,12,37,25,12,0,0,12,0,25,0
264,AREQUIPA,HUANUHUANU,P. HUANUHUANU,2,1,3,23,24,47,5,...,25,50,25,25,0,0,6,0,44,0
266,AREQUIPA,ATIQUIPA,P. ATIQUIPA,5,1,6,20,13,33,0,...,14,39,25,14,0,0,12,0,27,0
268,AREQUIPA,ATICO,P. ATICO,6,4,10,46,10,56,0,...,14,66,52,14,0,0,40,0,26,0

In [11]:
ar_clean = ar_clean.reset_index()
ar_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,AREQUIPA,AREQUIPA,P. AREQUIPA,407,396,803,2395,2306,4701,...,2406,4882,2793,1689,9,13,2153,1996,1176,179
1,5,AREQUIPA,MIRAFLORES,P. MIRAFLORES,60,60,120,336,287,623,...,345,735,396,347,0,0,282,208,253,0
2,6,AREQUIPA,MIRAFLORES,LAMBRAMANI,7,3,10,26,17,43,...,20,53,33,20,0,0,41,2,10,0
3,7,AREQUIPA,MIRAFLORES,CHILINA,2,3,5,9,9,18,...,12,23,11,12,0,0,0,0,23,0
4,9,AREQUIPA,CHIGUATA,P. CHIGUATA,50,56,106,225,176,401,...,232,506,275,232,0,0,34,268,205,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,261,AREQUIPA,YAUCA,P. TAUCA,5,3,8,21,19,40,...,22,48,26,22,0,0,16,3,29,0
196,262,AREQUIPA,YAUCA,YAUCA,3,0,3,22,12,34,...,12,37,25,12,0,0,12,0,25,0
197,264,AREQUIPA,HUANUHUANU,P. HUANUHUANU,2,1,3,23,24,47,...,25,50,25,25,0,0,6,0,44,0
198,266,AREQUIPA,ATIQUIPA,P. ATIQUIPA,5,1,6,20,13,33,...,14,39,25,14,0,0,12,0,27,0
199,268,AREQUIPA,ATICO,P. ATICO,6,4,10,46,10,56,...,14,66,52,14,0,0,40,0,26,0

In [12]:
a = ar_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [13]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [14]:
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [15]:
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men               float64
4_6_years_women             float64
4_6_years_total             float64
6_14_years_men              float64
6_14_years_women            float64
6_14_years_total            float64
man_read                    float64
women_read                  float64
total_read                  float64
men_not_read                float64
women_not_read              float64
total_not_read              float64
man_write                   float64
women_write                 float64
total_write                 float64
men_not_write               float64
women_not_write             float64
total_not_write             float64
instruction_men             float64
instruction_women           float64
instruction_total           float64
no_instruction_men          float64
no_instruction_women        float64
no_instruction_total        float64
finished_instr_men          float64
finished_instr_women        float64
finished_instr_total        float64
not_finished_instr_men      float64
not_finished_instr_women    float64
not_finished_instr_total    float64
peruvian_men                float64
peruvian_women              float64
foreign_men                 float64
foreign_women               float64
whites                      float64
natives                     float64
mestizos                    float64
blacks                      float64
dtype: object

## Contiene columnas combinadas EN LLUTA por eso los toma como float