In [4]:
 import pandas as pd

# Import data

In [5]:
ay = pd.read_excel(r"C:\Users\egonz\Dropbox\PC\Desktop\Data/AYACUCHO.xlsx")
ay["Region"] = "AYACUCHO"
region = ay["Region"]
#ay.drop(labels = "Region", axis=1, inplace = True)
#ay.insert(0, "Region", region)

In [8]:
region = ay["Region"]
ay.drop(labels = "Region", axis=1, inplace = True)
ay.insert(0, "Region", region)

In [6]:
ay.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [9]:
ay

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AYACUCHO
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN,AYACUCHO
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra,AYACUCHO
3,Ayacucho,P.Ayacucho,189,166,355,676,665,1341,360,257,...,1594,865,831,0,0,471,1085,139,1,AYACUCHO
4,Ayacucho,Parroquia de Santa,52,24,76,173,138,311,40,15,...,381,225,162,0,0,31,348,8,0,AYACUCHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Canaria,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
172,Vischongo,P.Vischongo,0,0,0,15,0,15,3,0,...,15,15,0,0,0,0,15,0,0,AYACUCHO
173,Vischongo,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
174,Paras,P.´Paras,0,0,0,15,0,15,15,0,...,14,15,0,0,0,7,4,4,0,AYACUCHO
175,Paras,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO

# Clean String Variables

In [11]:
# Translate to Uppercase variables 
ay["District"] =ay["District"].str.upper()
ay["Place"] = ay["Place"].str.upper()

In [12]:
ay["Place"] = ay["Place"].str.strip()
# Find errors with string = Total
errors =ay.loc[ay["Place"]=="TOTAL"]
error_list = errors.index.tolist()

ay_clean = ay.drop(ay.index[error_list])
ay_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AYACUCHO
1,NaN,NaN,DE 4 A 6 AÑOS,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN,AYACUCHO
2,NaN,NaN,V.,M.,T.,V.,M.,T.,v.,M.,...,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra,AYACUCHO
3,Ayacucho,P.AYACUCHO,NaN,166,355,676,665,1341,360,257,...,1594,865,831,0,0,471,1085,139,1,AYACUCHO
4,Ayacucho,PARROQUIA DE SANTA,NaN,24,76,173,138,311,40,15,...,381,225,162,0,0,31,348,8,0,AYACUCHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Canaria,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
172,Vischongo,P.VISCHONGO,NaN,0,0,15,0,15,3,0,...,15,15,0,0,0,0,15,0,0,AYACUCHO
173,Vischongo,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
174,Paras,P.´PARAS,NaN,0,0,15,0,15,15,0,...,14,15,0,0,0,7,4,4,0,AYACUCHO
175,Paras,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO

In [13]:
# Drop first 3 rows beacuse it does not serve us
ay_clean = ay_clean.drop([0, 1, 2],axis=0)
ay_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,Ayacucho,P.AYACUCHO,NaN,166,355,676,665,1341,360,257,...,1594,865,831,0,0,471,1085,139,1,AYACUCHO
4,Ayacucho,PARROQUIA DE SANTA,NaN,24,76,173,138,311,40,15,...,381,225,162,0,0,31,348,8,0,AYACUCHO
5,Ayacucho,B.CARMEN ALTO,NaN,5,10,20,20,40,9,2,...,50,25,25,0,0,3,47,0,0,AYACUCHO
6,Ayacucho,SAN JUAN BAUTISTA,NaN,8,16,17,17,34,4,0,...,50,25,25,0,0,0,50,0,0,AYACUCHO
7,Ayacucho,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Canaria,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
172,Vischongo,P.VISCHONGO,NaN,0,0,15,0,15,3,0,...,15,15,0,0,0,0,15,0,0,AYACUCHO
173,Vischongo,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
174,Paras,P.´PARAS,NaN,0,0,15,0,15,15,0,...,14,15,0,0,0,7,4,4,0,AYACUCHO
175,Paras,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO

In [14]:
# drop by index
# Reset to index because we have removed rows and renumbering them
ay_clean = ay_clean.reset_index()
ay_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,Ayacucho,P.AYACUCHO,NaN,166,355,676,665,1341,360,...,1594,865,831,0,0,471,1085,139,1,AYACUCHO
1,4,Ayacucho,PARROQUIA DE SANTA,NaN,24,76,173,138,311,40,...,381,225,162,0,0,31,348,8,0,AYACUCHO
2,5,Ayacucho,B.CARMEN ALTO,NaN,5,10,20,20,40,9,...,50,25,25,0,0,3,47,0,0,AYACUCHO
3,6,Ayacucho,SAN JUAN BAUTISTA,NaN,8,16,17,17,34,4,...,50,25,25,0,0,0,50,0,0,AYACUCHO
4,7,Ayacucho,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,171,Canaria,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
169,172,Vischongo,P.VISCHONGO,NaN,0,0,15,0,15,3,...,15,15,0,0,0,0,15,0,0,AYACUCHO
170,173,Vischongo,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO
171,174,Paras,P.´PARAS,NaN,0,0,15,0,15,15,...,14,15,0,0,0,7,4,4,0,AYACUCHO
172,175,Paras,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AYACUCHO

In [15]:
# indentify the types of Colum in the data 
a = ay_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [16]:
#As a precaution, we will check again that there are no rows with "Total"
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [17]:
a1=a.dtypes

## OBSERVACIÓN PLACE IS FLOAT "CASO  RARO"

In [18]:
# This code will change the object column type to int64
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                       float64
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                     int64
women_write                   int64
total_write                   int64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                       object
dtype: object

In [12]:
Code1= a12.to_excel("Region_Ayacucho.xlsx")
Code1