In [72]:
import pandas as pd

In [73]:
 CAJAMARCA_1 = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/CAJAMARCA_FINALIZADO.xlsx")

In [74]:
CAJAMARCA_1

,DISTRITOS,LUGARES,EDADES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SABEN LEER,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,NACIONALIDAD,Unnamed: 33,Unnamed: 34,Unnamed: 35,RAZAS,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,391,...,927,1851,1036,1031,0,0,808,505,753,0
4,NaN,C.Huanbacancha,42,55,97,131,118,249,52,NaN,...,173,346,173,173,0,0,0,339,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,Huanyanay,22,28,50,75,72,147,18,0,...,100,197,97,100,0,0,171,4,22,0
61,NaN,Chancay,22,17,39,81,61,142,52,13,...,78,181,103,78,0,0,19,0,162,0
62,NaN,Total,131,160,291,592,458,1050,205,47,...,615,1335,723,618,0,0,524,14,803,0
63,San Pablo,San Pablo,3,6,9,108,44,152,102,50,...,46,157,111,50,0,0,146,13,2,0
64,NaN,Total,3,6,9,108,44,152,102,50,...,46,157,111,50,0,0,146,13,2,0

In [75]:
CAJAMARCA_1["Region"] = "Cajamarca"

In [76]:
Region = CAJAMARCA_1["Region"]
CAJAMARCA_1.drop(labels = "Region", axis=1, inplace = True)
CAJAMARCA_1.insert(0, "Region", Region)

In [77]:
CAJAMARCA_1

,Region,DISTRITOS,LUGARES,EDADES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SABEN LEER,...,Unnamed: 30,Unnamed: 31,NACIONALIDAD,Unnamed: 33,Unnamed: 34,Unnamed: 35,RAZAS,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,Cajamarca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cajamarca,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,Cajamarca,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Cajamarca,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,...,927,1851,1036,1031,0,0,808,505,753,0
4,Cajamarca,NaN,C.Huanbacancha,42,55,97,131,118,249,52,...,173,346,173,173,0,0,0,339,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Cajamarca,NaN,Huanyanay,22,28,50,75,72,147,18,...,100,197,97,100,0,0,171,4,22,0
61,Cajamarca,NaN,Chancay,22,17,39,81,61,142,52,...,78,181,103,78,0,0,19,0,162,0
62,Cajamarca,NaN,Total,131,160,291,592,458,1050,205,...,615,1335,723,618,0,0,524,14,803,0
63,Cajamarca,San Pablo,San Pablo,3,6,9,108,44,152,102,...,46,157,111,50,0,0,146,13,2,0
64,Cajamarca,NaN,Total,3,6,9,108,44,152,102,...,46,157,111,50,0,0,146,13,2,0

In [78]:
CAJAMARCA_1.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [79]:
CAJAMARCA_1.head(12)

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,Cajamarca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cajamarca,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,Cajamarca,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Cajamarca,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,...,927,1851,1036,1031,0,0,808,505,753,0
4,Cajamarca,NaN,C.Huanbacancha,42,55,97,131,118,249,52,...,173,346,173,173,0,0,0,339,7,0
5,Cajamarca,NaN,Otuzco,84,92,176,309,308,617,43,...,400,793,393,400,0,0,0,722,71,0
6,Cajamarca,NaN,H.Pariamarca,23,20,43,121,79,200,39,...,99,240,144,99,0,0,0,213,30,0
7,Cajamarca,NaN,C.Baños del Inca,22,16,38,78,83,161,32,...,99,199,100,99,0,0,0,190,9,0
8,Cajamarca,NaN,Total,371,387,758,1475,1415,2890,625,...,1698,3429,1846,1802,0,0,808,1969,870,0
9,Cajamarca,Cospán,Cospán,74,68,142,317,182,499,56,...,250,641,391,250,0,0,179,126,336,0
10,Cajamarca,NaN,P. San Jorge,24,25,49,75,101,176,0,...,100,225,125,100,0,0,200,0,25,0
11,Cajamarca,NaN,Total,98,93,191,392,283,675,56,...,350,866,490,376,0,0,379,126,361,0

In [99]:
#PRUEBAAA A PARTIR DEL 0
# ELIMINAMOS A LA FILA 8 QUE TENIA TOTAL EN PLACE 
#funciono :D 
#datos = datos. drop(data.index[1])
Cj= CAJAMARCA_1.drop(CAJAMARCA_1.index[[8,11,13,16,18,20,22,24,40,50,62,64]])
Cj
# ELIMINAR LAS 3 PRIMERAS FILAS QUE NO NOS SIRVEN DE NADA 
Cj1 = CAJAMARCA_1.drop([0, 1, 2],axis=0)
Cj1

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,Cajamarca,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,...,927,1851,1036,1031,0,0,808,505,753,0
4,Cajamarca,NaN,C.Huanbacancha,42,55,97,131,118,249,52,...,173,346,173,173,0,0,0,339,7,0
5,Cajamarca,NaN,Otuzco,84,92,176,309,308,617,43,...,400,793,393,400,0,0,0,722,71,0
6,Cajamarca,NaN,H.Pariamarca,23,20,43,121,79,200,39,...,99,240,144,99,0,0,0,213,30,0
7,Cajamarca,NaN,C.Baños del Inca,22,16,38,78,83,161,32,...,99,199,100,99,0,0,0,190,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Cajamarca,NaN,Huanyanay,22,28,50,75,72,147,18,...,100,197,97,100,0,0,171,4,22,0
61,Cajamarca,NaN,Chancay,22,17,39,81,61,142,52,...,78,181,103,78,0,0,19,0,162,0
62,Cajamarca,NaN,Total,131,160,291,592,458,1050,205,...,615,1335,723,618,0,0,524,14,803,0
63,Cajamarca,San Pablo,San Pablo,3,6,9,108,44,152,102,...,46,157,111,50,0,0,146,13,2,0
64,Cajamarca,NaN,Total,3,6,9,108,44,152,102,...,46,157,111,50,0,0,146,13,2,0

In [66]:
# PRUEBA PARA ELIMINAR TODOS LOS TOTALES DE UNAAAA 
#datos = datos. loc[datos["casos"]  !=  0]
#https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/#delete-dataframe-rows-with-pandas-drop
cj= CAJAMARCA_1.loc[CAJAMARCA_1["Place"]=="Total"]
cj
# CASI :´V 
# TAMOS CERCA 
#8,11,13,16,18,20,22,24,40,50,62,64

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
8,Cajamarca,NaN,Total,371,387,758,1475,1415,2890,625,...,1698,3429,1846,1802,0,0,808,1969,870,0
11,Cajamarca,NaN,Total,98,93,191,392,283,675,56,...,350,866,490,376,0,0,379,126,361,0
13,Cajamarca,NaN,Total,23,23,46,162,147,309,79,...,170,355,185,170,0,0,0,0,355,0
16,Cajamarca,NaN,Total,18,6,24,153,47,200,64,...,171,53,224,53,0,0,0,8,106,110
18,Cajamarca,NaN,Total,44,45,89,181,109,290,91,...,154,377,225,154,0,0,23,302,54,0
20,Cajamarca,NaN,Total,17,10,27,79,57,136,30,...,67,163,96,67,0,0,18,113,32,0
22,Cajamarca,NaN,Total,50,61,111,221,207,428,75,...,268,539,271,268,0,0,0,54,485,0
24,Cajamarca,NaN,Total,114,79,193,482,367,849,197,...,418,992,596,446,0,0,240,352,450,0
40,Cajamarca,NaN,Total,8,12,20,412,109,521,182,...,109,491,413,111,0,0,1,0,523,0
50,Cajamarca,NaN,Total,48,28,76,368,248,616,301,...,274,681,416,276,0,0,236,0,456,0
62,Cajamarca,NaN,Total,131,160,291,592,458,1050,205,...,615,1335,723,618,0,0,524,14,803,0
64,Cajamarca,NaN,Total,3,6,9,108,44,152,102,...,46,157,111,50,0,0,146,13,2,0

In [114]:
# PROBANDO REINDEXACIÓN 
Cj1 = Cj1.reset_index()
del Cj1['index']

,level_0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,Cajamarca,Cajamarca,Cajamarca,200,204,404,836,827,1663,...,927,1851,1036,1031,0,0,808,505,753,0
1,1,Cajamarca,NaN,C.Huanbacancha,42,55,97,131,118,249,...,173,346,173,173,0,0,0,339,7,0
2,2,Cajamarca,NaN,Otuzco,84,92,176,309,308,617,...,400,793,393,400,0,0,0,722,71,0
3,3,Cajamarca,NaN,H.Pariamarca,23,20,43,121,79,200,...,99,240,144,99,0,0,0,213,30,0
4,4,Cajamarca,NaN,C.Baños del Inca,22,16,38,78,83,161,...,99,199,100,99,0,0,0,190,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,Cajamarca,NaN,Huanyanay,22,28,50,75,72,147,...,100,197,97,100,0,0,171,4,22,0
58,58,Cajamarca,NaN,Chancay,22,17,39,81,61,142,...,78,181,103,78,0,0,19,0,162,0
59,59,Cajamarca,NaN,Total,131,160,291,592,458,1050,...,615,1335,723,618,0,0,524,14,803,0
60,60,Cajamarca,San Pablo,San Pablo,3,6,9,108,44,152,...,46,157,111,50,0,0,146,13,2,0
61,61,Cajamarca,NaN,Total,3,6,9,108,44,152,...,46,157,111,50,0,0,146,13,2,0

In [122]:
# CASIII
#Cj1 = Cj1.drop(columns=['level_0'])

KeyError: "['level_0'] not found in axis"

** *CASI FINALIZADO* **

In [47]:
# Borramos las filas 0,1,2 y nos queda el trabajo casi completo, FALTA ELIMINAR EL TOTAL EN PLACE Y LOS NAN EN DITRICT
A = CAJAMARCA_1.drop([0, 1, 2],axis=0)
A.head(10)

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,Cajamarca,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,...,927,1851,1036,1031,0,0,808,505,753,0
4,Cajamarca,NaN,C.Huanbacancha,42,55,97,131,118,249,52,...,173,346,173,173,0,0,0,339,7,0
5,Cajamarca,NaN,Otuzco,84,92,176,309,308,617,43,...,400,793,393,400,0,0,0,722,71,0
6,Cajamarca,NaN,H.Pariamarca,23,20,43,121,79,200,39,...,99,240,144,99,0,0,0,213,30,0
7,Cajamarca,NaN,C.Baños del Inca,22,16,38,78,83,161,32,...,99,199,100,99,0,0,0,190,9,0
8,Cajamarca,NaN,Total,371,387,758,1475,1415,2890,625,...,1698,3429,1846,1802,0,0,808,1969,870,0
9,Cajamarca,Cospán,Cospán,74,68,142,317,182,499,56,...,250,641,391,250,0,0,179,126,336,0
10,Cajamarca,NaN,P. San Jorge,24,25,49,75,101,176,0,...,100,225,125,100,0,0,200,0,25,0
11,Cajamarca,NaN,Total,98,93,191,392,283,675,56,...,350,866,490,376,0,0,379,126,361,0
12,Cajamarca,Matarpa,Matará,23,23,46,162,147,309,79,...,170,355,185,170,0,0,0,0,355,0

In [58]:
# NO FUNCIONO PQ TIENE QUE PARTIR DEL CERO 
#datos = datos. drop(etiquetas =[1,15,20], eje=0)
#datos = datos. drop(data.index[1])
#datos = datos. drop(data.index[1])
A= A.drop(A.index=[8])
A

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-58-4d1a158535db>, line 4)

In [22]:
# probando nuevo codigo data = data.drop(data.index[1])
#df.drop(index='length', level=1)
PRUEBA = CAJAMARCA_1.drop(CAJAMARCA_1.index =["NaN"])

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-22-db7834bec522>, line 3)

In [1]:
# MODIFICAR EL DITRICT PARA QUE SE REPITA EL DISTRITO Y NO QUEDEN NaN
if

SyntaxError: invalid syntax (<ipython-input-1-0a18edfe4db8>, line 2)

In [12]:
filtro = A ['Place'] = "Total"
filtro

'Total'

In [13]:
#https://www.aluracursos.com/blog/como-eliminar-filas-y-columnas-en-pandas
probando = A[filtro]

KeyError: 'Total'

In [23]:
#https://interactivechaos.com/es/python/scenario/eliminacion-de-filas-en-un-dataframe-pandas-partir-de-una-condicion
df0 = A[A.Place.notnull("Total")]

AttributeError: 'DataFrame' object has no attribute 'Place'

In [24]:
#http://exponentis.es/como-eliminar-filas-de-un-dataframe-de-python-pandas-segun-una-condicion
df = A.drop(A[A['Place']==Total].index)

KeyError: 'Place'

In [103]:
# HOJA 2 
a =pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/CAJAMARCA_FINALIZADO.xlsx","73-74")
a.head()

,DISTRITOS,LUGARES,EDADES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SABEN LEER,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,NACIONALIDAD,Unnamed: 33,Unnamed: 34,Unnamed: 35,RAZAS,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Chota,Chota,137,140,277,682,559,1241,470,147,...,633,1318,819,699,0,0,421,168,786,143
4,NaN,P. Chungumarca,68,51,119,297,283,580,182,29,...,331,563,365,334,0,0,27,382,290,0

In [104]:
a["Region"] = "Cajamarca"

In [105]:
Region = a["Region"]
a.drop(labels = "Region", axis=1, inplace = True)
a.insert(0, "Region", Region)

** HOJA_2_Cajamarca**

In [107]:
# HOJA 1 MASOMENOS 
a.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]
a

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,Cajamarca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cajamarca,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,Cajamarca,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Cajamarca,Chota,Chota,137,140,277,682,559,1241,470,...,633,1318,819,699,0,0,421,168,786,143
4,Cajamarca,NaN,P. Chungumarca,68,51,119,297,283,580,182,...,331,563,365,334,0,0,27,382,290,0
5,Cajamarca,NaN,Yuaravilca,14,35,49,109,92,201,57,...,127,233,123,127,0,0,17,0,223,0
6,Cajamarca,NaN,Yacra,35,50,85,165,150,315,45,...,200,400,200,200,0,0,159,155,86,0
7,Cajamarca,NaN,Cabracancha,24,37,61,126,113,239,92,...,149,296,150,150,0,0,89,48,163,0
8,Cajamarca,NaN,Yurayacu,8,16,24,96,88,184,79,...,104,208,104,104,0,0,7,0,211,0
9,Cajamarca,NaN,Colpa,1,7,8,49,43,92,29,...,50,100,5,50,0,0,0,0,100,0
10,Cajamarca,NaN,Chuyubamba,15,19,34,124,76,200,54,...,95,234,139,95,0,0,0,25,209,0
11,Cajamarca,NaN,Shiringan,11,10,21,64,60,124,44,...,70,145,75,70,0,0,0,49,96,0
12,Cajamarca,NaN,H. Chulit Pingo Bamba,14,4,18,111,78,189,90,...,82,207,125,82,0,0,69,0,138,0
13,Cajamarca,NaN,Total,327,369,696,1823,1542,3365,1142,...,1841,3704,2105,1911,0,0,789,827,2302,143
14,Cajamarca,Lajas,Lajas,0,0,0,69,0,69,30,...,0,61,69,0,0,0,0,0,69,0
15,Cajamarca,NaN,E. Pauripampa,17,0,17,97,0,97,50,...,0,89,114,0,0,0,19,0,95,0
16,Cajamarca,NaN,Anchaucho,7,0,7,18,0,18,0,...,0,25,25,0,0,0,0,0,25,0
17,Cajamarca,NaN,C. Lajas ulta,9,0,9,58,0,58,35,...,0,97,67,0,0,0,6,14,47,0
18,Cajamarca,NaN,Olmos,9,1,10,41,49,90,0,...,50,100,50,50,0,0,0,0,100,0
19,Cajamarca,NaN,Lajas bajo,10,0,10,16,0,16,10,...,0,26,26,0,0,0,0,0,26,0
20,Cajamarca,NaN,Pocobamba,1,0,1,50,24,74,38,...,24,75,51,24,0,0,0,0,75,0
21,Cajamarca,NaN,Yacra chico,5,0,5,21,7,28,18,...,7,33,26,7,0,0,0,0,33,0
22,Cajamarca,NaN,Siura,5,3,8,21,16,37,12,...,19,45,26,19,0,0,0,0,45,0
23,Cajamarca,NaN,Pampacancha,2,0,2,14,0,14,0,...,0,16,16,0,0,0,0,0,16,0
24,Cajamarca,NaN,Churucancha,12,12,24,35,56,91,1,...,68,115,47,68,0,0,0,0,115,0
25,Cajamarca,NaN,H.Uticyacu,5,1,6,22,2,24,0,...,3,5,25,3,0,0,0,0,28,0
26,Cajamarca,NaN,Catmalca,7,0,7,19,6,25,0,...,6,32,26,6,0,0,0,0,32,0
27,Cajamarca,NaN,Llangoden,6,4,10,20,16,36,0,...,20,46,26,20,0,0,0,0,46,0
28,Cajamarca,NaN,Total,95,21,116,501,176,677,194,...,197,765,594,197,0,0,25,14,752,0
29,Cajamarca,Querecoto,Querecoto,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0
30,Cajamarca,NaN,Total,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0

In [128]:
#cj= CAJAMARCA_1.loc[CAJAMARCA_1["Place"]=="Total"]
Cj2=a.loc[a["Place"]=="Total"]
Cj2

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
13,Cajamarca,NaN,Total,327,369,696,1823,1542,3365,1142,...,1841,3704,2105,1911,0,0,789,827,2302,143
28,Cajamarca,NaN,Total,95,21,116,501,176,677,194,...,197,765,594,197,0,0,25,14,752,0
30,Cajamarca,NaN,Total,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0

In [129]:
# PROCEDE A ELIMINAR LOS TOTALES DE LA HOJA 2 
#Cj= CAJAMARCA_1.drop(CAJAMARCA_1.index[[8,11,13,16,18,20,22,24,40,50,62,64]])
#Cj
aea= a.drop(a.index[[13,28,30]])
aea

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,Cajamarca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cajamarca,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,Cajamarca,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,Cajamarca,Chota,Chota,137,140,277,682,559,1241,470,...,633,1318,819,699,0,0,421,168,786,143
4,Cajamarca,NaN,P. Chungumarca,68,51,119,297,283,580,182,...,331,563,365,334,0,0,27,382,290,0
5,Cajamarca,NaN,Yuaravilca,14,35,49,109,92,201,57,...,127,233,123,127,0,0,17,0,223,0
6,Cajamarca,NaN,Yacra,35,50,85,165,150,315,45,...,200,400,200,200,0,0,159,155,86,0
7,Cajamarca,NaN,Cabracancha,24,37,61,126,113,239,92,...,149,296,150,150,0,0,89,48,163,0
8,Cajamarca,NaN,Yurayacu,8,16,24,96,88,184,79,...,104,208,104,104,0,0,7,0,211,0
9,Cajamarca,NaN,Colpa,1,7,8,49,43,92,29,...,50,100,5,50,0,0,0,0,100,0
10,Cajamarca,NaN,Chuyubamba,15,19,34,124,76,200,54,...,95,234,139,95,0,0,0,25,209,0
11,Cajamarca,NaN,Shiringan,11,10,21,64,60,124,44,...,70,145,75,70,0,0,0,49,96,0
12,Cajamarca,NaN,H. Chulit Pingo Bamba,14,4,18,111,78,189,90,...,82,207,125,82,0,0,69,0,138,0
14,Cajamarca,Lajas,Lajas,0,0,0,69,0,69,30,...,0,61,69,0,0,0,0,0,69,0
15,Cajamarca,NaN,E. Pauripampa,17,0,17,97,0,97,50,...,0,89,114,0,0,0,19,0,95,0
16,Cajamarca,NaN,Anchaucho,7,0,7,18,0,18,0,...,0,25,25,0,0,0,0,0,25,0
17,Cajamarca,NaN,C. Lajas ulta,9,0,9,58,0,58,35,...,0,97,67,0,0,0,6,14,47,0
18,Cajamarca,NaN,Olmos,9,1,10,41,49,90,0,...,50,100,50,50,0,0,0,0,100,0
19,Cajamarca,NaN,Lajas bajo,10,0,10,16,0,16,10,...,0,26,26,0,0,0,0,0,26,0
20,Cajamarca,NaN,Pocobamba,1,0,1,50,24,74,38,...,24,75,51,24,0,0,0,0,75,0
21,Cajamarca,NaN,Yacra chico,5,0,5,21,7,28,18,...,7,33,26,7,0,0,0,0,33,0
22,Cajamarca,NaN,Siura,5,3,8,21,16,37,12,...,19,45,26,19,0,0,0,0,45,0
23,Cajamarca,NaN,Pampacancha,2,0,2,14,0,14,0,...,0,16,16,0,0,0,0,0,16,0
24,Cajamarca,NaN,Churucancha,12,12,24,35,56,91,1,...,68,115,47,68,0,0,0,0,115,0
25,Cajamarca,NaN,H.Uticyacu,5,1,6,22,2,24,0,...,3,5,25,3,0,0,0,0,28,0
26,Cajamarca,NaN,Catmalca,7,0,7,19,6,25,0,...,6,32,26,6,0,0,0,0,32,0
27,Cajamarca,NaN,Llangoden,6,4,10,20,16,36,0,...,20,46,26,20,0,0,0,0,46,0
29,Cajamarca,Querecoto,Querecoto,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0

In [ ]:
# FALTA ELIMINAR LOS TOTALES DEL PLACE Y LOS NAN DE DISTRICT 
# District con funciones (the_code_blinders)
# REINDEXACIÓN PARA 3,4,5 
# PARA FUSIONAR: MERGE, JOIN , me da parametros 
# ELIMINAR TOTALES:

In [27]:
# error 
a1= pd.DataFrame(index= ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36"
                "37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61"])

In [36]:
#error 2
sas= pd.DataFrame(a)
frame2= pd.DataFrame(a,index= ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36"
                "37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62"])

In [130]:
# EFE 
frame2

NameError: name 'frame2' is not defined