In [1]:
import pandas as pd
import numpy as np

In [2]:
# Llamamos a la primera hoja 
CAJAMARCA_1 = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/CAJAMARCA_FINALIZADO.xlsx")

In [3]:
# agregamos que en Region sea por defecto CAJAMARCA
CAJAMARCA_1["Region"] = "CAJAMARCA"

In [4]:
Region = CAJAMARCA_1["Region"]
CAJAMARCA_1.drop(labels = "Region", axis=1, inplace = True)
CAJAMARCA_1.insert(0, "Region", Region)

In [5]:
# Reemplazamos las variables de la data sucia por las que vamos a usar 
CAJAMARCA_1.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [11]:
# Con este código encontraremso las filas que tenan "Total" dentro de la columna "PLACE"
cj= CAJAMARCA_1.loc[CAJAMARCA_1["Place"]=="Total"]

In [14]:
# Procedemos a borrar esos datos que no nos sirven
Cj= CAJAMARCA_1.drop(CAJAMARCA_1.index[[8,11,13,16,18,20,22,24,40,50,62,64]])
Cj1 = Cj.drop([0, 1, 2],axis=0)

**HOJA 2**

In [17]:
a =pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/CAJAMARCA_FINALIZADO.xlsx","73-74")

In [18]:
a["Region"] = "CAJAMARCA"

In [19]:
Region = a["Region"]
a.drop(labels = "Region", axis=1, inplace = True)
a.insert(0, "Region", Region)

In [20]:
a.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [21]:
Cj2=a.loc[a["Place"]=="Total"]
Cj2

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
13,CAJAMARCA,Chota,Total,327,369,696,1823,1542,3365,1142,...,1841,3704,2105,1911,0,0,789,827,2302,143
28,CAJAMARCA,Lajas,Total,95,21,116,501,176,677,194,...,197,765,594,197,0,0,25,14,752,0
30,CAJAMARCA,Querecoto,Total,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0

In [23]:
aea= a.drop(a.index[[13,28,30]])
qwe = aea.drop([0, 1, 2],axis=0)

In [24]:
FUSION1_2 = pd.concat([Cj1,qwe])
FUSION1_2

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,CAJAMARCA,Cajamarca,Cajamarca,200,204,404,836,827,1663,459,...,927,1851,1036,1031,0,0,808,505,753,0
4,CAJAMARCA,Cajamarca,C.Huanbacancha,42,55,97,131,118,249,52,...,173,346,173,173,0,0,0,339,7,0
5,CAJAMARCA,Cajamarca,Otuzco,84,92,176,309,308,617,43,...,400,793,393,400,0,0,0,722,71,0
6,CAJAMARCA,Cajamarca,H.Pariamarca,23,20,43,121,79,200,39,...,99,240,144,99,0,0,0,213,30,0
7,CAJAMARCA,Cajamarca,C.Baños del Inca,22,16,38,78,83,161,32,...,99,199,100,99,0,0,0,190,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,CAJAMARCA,Lajas,Churucancha,12,12,24,35,56,91,1,...,68,115,47,68,0,0,0,0,115,0
25,CAJAMARCA,Lajas,H.Uticyacu,5,1,6,22,2,24,0,...,3,5,25,3,0,0,0,0,28,0
26,CAJAMARCA,Lajas,Catmalca,7,0,7,19,6,25,0,...,6,32,26,6,0,0,0,0,32,0
27,CAJAMARCA,Lajas,Llangoden,6,4,10,20,16,36,0,...,20,46,26,20,0,0,0,0,46,0
29,CAJAMARCA,Querecoto,Querecoto,3,0,3,36,18,54,11,...,18,57,39,18,0,0,20,0,37,0