In [11]:
import pandas as pd

# Import data

In [12]:
cu = pd.read_excel(r"C:\Users\egonz\Dropbox\PC\Desktop\Data/CUZCO.xlsx")
cu["Region"] = "CUZCO"

In [13]:
region = cu["Region"]

In [14]:

cu.drop(labels = "Region", axis=1, inplace = True)
cu.insert(0, "Region", region)

In [15]:
cu.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [16]:
cu

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CUZCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUZCO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,CUZCO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,CUZCO,Cuzco,P. Cuzco,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
4,CUZCO,Cuzco,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,CUZCO,Vilcabamba,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288,CUZCO,Huayopata,P.Huayopata,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
289,CUZCO,Huayopata,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
290,CUZCO,Echarate,P.Echarate,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0
291,CUZCO,Echarate,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CUZCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUZCO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,CUZCO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,CUZCO,Cuzco,P. Cuzco,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
4,CUZCO,Cuzco,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,CUZCO,Vilcabamba,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
288,CUZCO,Huayopata,P.Huayopata,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
289,CUZCO,Huayopata,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
290,CUZCO,Echarate,P.Echarate,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0
291,CUZCO,Echarate,Total,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
cu["District"] = cu["District"].str.upper()
cu["Place"] = cu["Place"].str.upper()

In [18]:
cu["Place"] = cu["Place"].str.strip()

In [19]:
errors = cu.loc[cu["Place"]=="TOTAL"]
errors_list = errors.index.tolist()

In [20]:
cu_clean = cu.drop(cu.index[errors_list])
cu_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CUZCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUZCO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,CUZCO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,28,...,162,399,241,164,0,0,24,252,129,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,17,...,60,115,55,63,0,0,37,31,50,0
285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,3,...,11,38,27,11,0,0,0,0,38,0
286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,22,...,31,83,52,31,0,0,0,0,83,0
288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,CUZCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUZCO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,CUZCO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,28,...,162,399,241,164,0,0,24,252,129,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,17,...,60,115,55,63,0,0,37,31,50,0
285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,3,...,11,38,27,11,0,0,0,0,38,0
286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,22,...,31,83,52,31,0,0,0,0,83,0
288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0

In [21]:
cu_clean = cu_clean.drop([0, 1, 2],axis=0)
cu_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,28,...,162,399,241,164,0,0,24,252,129,0
6,CUZCO,SAN GERONIMO,SAILLA,14,18,32,58,34,92,26,...,52,124,72,52,0,0,11,113,0,0
8,CUZCO,SAN SEBASTIAN,P. SAN SEBASTIAN,10,13,23,172,71,243,89,...,81,259,182,81,0,3,37,229,0,0
10,CUZCO,YANAOCA,P. YANAOCA,25,19,44,100,75,175,28,...,94,218,125,94,0,0,71,140,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,17,...,60,115,55,63,0,0,37,31,50,0
285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,3,...,11,38,27,11,0,0,0,0,38,0
286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,22,...,31,83,52,31,0,0,0,0,83,0
288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,867,...,1369,2751,1532,1502,4,8,1461,544,1038,3
5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,28,...,162,399,241,164,0,0,24,252,129,0
6,CUZCO,SAN GERONIMO,SAILLA,14,18,32,58,34,92,26,...,52,124,72,52,0,0,11,113,0,0
8,CUZCO,SAN SEBASTIAN,P. SAN SEBASTIAN,10,13,23,172,71,243,89,...,81,259,182,81,0,3,37,229,0,0
10,CUZCO,YANAOCA,P. YANAOCA,25,19,44,100,75,175,28,...,94,218,125,94,0,0,71,140,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,17,...,60,115,55,63,0,0,37,31,50,0
285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,3,...,11,38,27,11,0,0,0,0,38,0
286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,22,...,31,83,52,31,0,0,0,0,83,0
288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,18,...,41,81,40,41,0,0,81,0,0,0
290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,30,...,45,95,50,45,0,0,53,42,0,0

In [22]:
cu_clean = cu_clean.reset_index()
cu_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,...,1369,2751,1532,1502,4,8,1461,544,1038,3
1,5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,...,162,399,241,164,0,0,24,252,129,0
2,6,CUZCO,SAN GERONIMO,SAILLA,14,18,32,58,34,92,...,52,124,72,52,0,0,11,113,0,0
3,8,CUZCO,SAN SEBASTIAN,P. SAN SEBASTIAN,10,13,23,172,71,243,...,81,259,182,81,0,3,37,229,0,0
4,10,CUZCO,YANAOCA,P. YANAOCA,25,19,44,100,75,175,...,94,218,125,94,0,0,71,140,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,...,60,115,55,63,0,0,37,31,50,0
231,285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,...,11,38,27,11,0,0,0,0,38,0
232,286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,...,31,83,52,31,0,0,0,0,83,0
233,288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,...,41,81,40,41,0,0,81,0,0,0
234,290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,...,45,95,50,45,0,0,53,42,0,0

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,CUZCO,CUZCO,P. CUZCO,75,74,149,1461,1436,2897,...,1369,2751,1532,1502,4,8,1461,544,1038,3
1,5,CUZCO,SAN GERONIMO,P. SAN GERONIMO,69,38,107,172,126,298,...,162,399,241,164,0,0,24,252,129,0
2,6,CUZCO,SAN GERONIMO,SAILLA,14,18,32,58,34,92,...,52,124,72,52,0,0,11,113,0,0
3,8,CUZCO,SAN SEBASTIAN,P. SAN SEBASTIAN,10,13,23,172,71,243,...,81,259,182,81,0,3,37,229,0,0
4,10,CUZCO,YANAOCA,P. YANAOCA,25,19,44,100,75,175,...,94,218,125,94,0,0,71,140,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,284,CUZCO,VILCABAMBA,P.VILCABAMBA,13,21,34,42,42,84,...,60,115,55,63,0,0,37,31,50,0
231,285,CUZCO,VILCABAMBA,C.LUCMA,2,1,3,25,10,35,...,11,38,27,11,0,0,0,0,38,0
232,286,CUZCO,VILCABAMBA,PUCYURA,6,5,11,46,26,72,...,31,83,52,31,0,0,0,0,83,0
233,288,CUZCO,HUAYOPATA,P.HUAYOPATA,2,3,5,38,38,76,...,41,81,40,41,0,0,81,0,0,0
234,290,CUZCO,ECHARATE,P.ECHARATE,5,6,11,45,39,84,...,45,95,50,45,0,0,53,42,0,0

In [23]:
a = cu_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [24]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [25]:
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [26]:
a12= a.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [27]:
Code1= a12.to_excel("Region_Cuzco.xlsx")
Code1