In [2]:
import pandas as pd

In [3]:
H = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/HUÁNUCO_FINALIZADO.xlsx")
H["Region"] = "HUÁNUCO"
Region = H["Region"]
H.drop(labels = "Region", axis=1, inplace = True)
H.insert(0, "Region", Region)
H.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [4]:
H["District"] =H["District"].str.upper()
H["Place"] = H["Place"].str.upper()

In [5]:
H["Place"] = H["Place"].str.strip()
# Find errors with string = Total
errors =H.loc[H["Place"]=="TOTAL"]
error_list = errors.index.tolist()

H_clean = H.drop(H.index[error_list])
H_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,HUÁNUCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HUÁNUCO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,HUÁNUCO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,HUÁNUCO,HUÁNUCO,P. HUÁNUCO,105,114,219,525,466,991,292,...,554,1156,630,580,0,0,399,202,609,0
4,HUÁNUCO,HUÁNUCO,CAYRAN,4,2,6,18,18,36,0,...,20,42,22,20,0,0,0,40,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,HUÁNUCO,ARANCAY,P.DE ARANCAY,0,6,6,25,19,44,22,...,25,49,25,25,0,0,0,6,44,0
134,HUÁNUCO,ARANCAY,A.DE HUAMPOY,5,2,7,20,23,43,5,...,25,50,25,25,0,0,0,34,16,0
135,HUÁNUCO,ARANCAY,C.SAN ANTONIO,1,1,2,23,11,34,0,...,12,36,24,12,0,0,0,30,6,0
136,HUÁNUCO,ARANCAY,HUARMACA,6,3,9,19,3,22,2,...,6,31,25,6,0,0,0,18,13,0
137,HUÁNUCO,ARANCAY,SAN PEDRO,0,0,0,22,7,29,1,...,7,29,22,7,0,0,0,25,4,0

In [6]:
H_clean = H_clean.drop([0, 1, 2],axis=0)
H_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,HUÁNUCO,HUÁNUCO,P. HUÁNUCO,105,114,219,525,466,991,292,...,554,1156,630,580,0,0,399,202,609,0
4,HUÁNUCO,HUÁNUCO,CAYRAN,4,2,6,18,18,36,0,...,20,42,22,20,0,0,0,40,2,0
5,HUÁNUCO,HUÁNUCO,C. QUIRCAN,3,3,6,18,5,23,0,...,8,29,21,8,0,0,0,29,0,0
6,HUÁNUCO,HUÁNUCO,PAUCAR,13,14,27,62,45,107,3,...,59,134,75,59,0,0,0,134,0,0
7,HUÁNUCO,HUÁNUCO,MATAMARCA,3,5,8,22,10,32,0,...,15,40,25,15,0,0,0,27,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,HUÁNUCO,ARANCAY,P.DE ARANCAY,0,6,6,25,19,44,22,...,25,49,25,25,0,0,0,6,44,0
134,HUÁNUCO,ARANCAY,A.DE HUAMPOY,5,2,7,20,23,43,5,...,25,50,25,25,0,0,0,34,16,0
135,HUÁNUCO,ARANCAY,C.SAN ANTONIO,1,1,2,23,11,34,0,...,12,36,24,12,0,0,0,30,6,0
136,HUÁNUCO,ARANCAY,HUARMACA,6,3,9,19,3,22,2,...,6,31,25,6,0,0,0,18,13,0
137,HUÁNUCO,ARANCAY,SAN PEDRO,0,0,0,22,7,29,1,...,7,29,22,7,0,0,0,25,4,0

In [7]:
H_clean = H_clean.reset_index()
H_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,HUÁNUCO,HUÁNUCO,P. HUÁNUCO,105,114,219,525,466,991,...,554,1156,630,580,0,0,399,202,609,0
1,4,HUÁNUCO,HUÁNUCO,CAYRAN,4,2,6,18,18,36,...,20,42,22,20,0,0,0,40,2,0
2,5,HUÁNUCO,HUÁNUCO,C. QUIRCAN,3,3,6,18,5,23,...,8,29,21,8,0,0,0,29,0,0
3,6,HUÁNUCO,HUÁNUCO,PAUCAR,13,14,27,62,45,107,...,59,134,75,59,0,0,0,134,0,0
4,7,HUÁNUCO,HUÁNUCO,MATAMARCA,3,5,8,22,10,32,...,15,40,25,15,0,0,0,27,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,133,HUÁNUCO,ARANCAY,P.DE ARANCAY,0,6,6,25,19,44,...,25,49,25,25,0,0,0,6,44,0
110,134,HUÁNUCO,ARANCAY,A.DE HUAMPOY,5,2,7,20,23,43,...,25,50,25,25,0,0,0,34,16,0
111,135,HUÁNUCO,ARANCAY,C.SAN ANTONIO,1,1,2,23,11,34,...,12,36,24,12,0,0,0,30,6,0
112,136,HUÁNUCO,ARANCAY,HUARMACA,6,3,9,19,3,22,...,6,31,25,6,0,0,0,18,13,0
113,137,HUÁNUCO,ARANCAY,SAN PEDRO,0,0,0,22,7,29,...,7,29,22,7,0,0,0,25,4,0

In [8]:
a = H_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [9]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [10]:
a1=a.dtypes

In [11]:
a12= a.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [13]:
Code1= a12.to_excel("Huánuco_finalizado.xlsx")
Code1