In [1]:
import pandas as pd

In [3]:
ar = pd.read_excel(r"C:\Users\egonz\Dropbox\PC\Desktop\Data/AREQUIPA.xlsx")
ar["Region"] = "AREQUIPA"

In [5]:

region = ar["Region"]
ar.drop(labels = "Region", axis=1, inplace = True)
ar.insert(0, "Region", region)

In [4]:
ar.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [ ]:
ar

In [6]:
ar["District"] = ar["District"].str.upper()
ar["Place"] = ar["Place"].str.upper()

In [7]:
ar["Place"] = ar["Place"].str.strip()

In [8]:
errors = ar.loc[ar["Place"]=="TOTAL"]
errors_list = errors.index.tolist()

In [9]:
ar_clean = ar.drop(ar.index[errors_list])
ar_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AREQUIPA
1,NaN,NaN,DE 4 A 6 AÑOS,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN,AREQUIPA
2,NaN,NaN,V.,M.,T.,V.,M.,T.,v.,M.,...,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra,AREQUIPA
3,AREQUIPA,P. AREQUIPA,NaN,396,803,2395,2306,4701,1372,1283,...,4882,2793,1689,9,13,2153,1996,1176,179,AREQUIPA
4,AREQUIPA,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,HUANUHUANU,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
266,ATIQUIPA,P. ATIQUIPA,NaN,1,6,20,13,33,0,0,...,39,25,14,0,0,12,0,27,0,AREQUIPA
267,ATIQUIPA,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
268,ATICO,P. ATICO,NaN,4,10,46,10,56,0,0,...,66,52,14,0,0,40,0,26,0,AREQUIPA
269,ATICO,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA

In [10]:
ar_clean = ar_clean.drop([0, 1, 2],axis=0)
ar_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,AREQUIPA,P. AREQUIPA,NaN,396,803,2395,2306,4701,1372,1283,...,4882,2793,1689,9,13,2153,1996,1176,179,AREQUIPA
4,AREQUIPA,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
5,MIRAFLORES,P. MIRAFLORES,NaN,60,120,336,287,623,109,128,...,735,396,347,0,0,282,208,253,0,AREQUIPA
6,MIRAFLORES,LAMBRAMANI,NaN,3,10,26,17,43,16,7,...,53,33,20,0,0,41,2,10,0,AREQUIPA
7,MIRAFLORES,CHILINA,NaN,3,5,9,9,18,4,0,...,23,11,12,0,0,0,0,23,0,AREQUIPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,HUANUHUANU,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
266,ATIQUIPA,P. ATIQUIPA,NaN,1,6,20,13,33,0,0,...,39,25,14,0,0,12,0,27,0,AREQUIPA
267,ATIQUIPA,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
268,ATICO,P. ATICO,NaN,4,10,46,10,56,0,0,...,66,52,14,0,0,40,0,26,0,AREQUIPA
269,ATICO,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA

In [11]:
ar_clean = ar_clean.reset_index()
ar_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,AREQUIPA,P. AREQUIPA,NaN,396,803,2395,2306,4701,1372,...,4882,2793,1689,9,13,2153,1996,1176,179,AREQUIPA
1,4,AREQUIPA,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
2,5,MIRAFLORES,P. MIRAFLORES,NaN,60,120,336,287,623,109,...,735,396,347,0,0,282,208,253,0,AREQUIPA
3,6,MIRAFLORES,LAMBRAMANI,NaN,3,10,26,17,43,16,...,53,33,20,0,0,41,2,10,0,AREQUIPA
4,7,MIRAFLORES,CHILINA,NaN,3,5,9,9,18,4,...,23,11,12,0,0,0,0,23,0,AREQUIPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,265,HUANUHUANU,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
263,266,ATIQUIPA,P. ATIQUIPA,NaN,1,6,20,13,33,0,...,39,25,14,0,0,12,0,27,0,AREQUIPA
264,267,ATIQUIPA,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA
265,268,ATICO,P. ATICO,NaN,4,10,46,10,56,0,...,66,52,14,0,0,40,0,26,0,AREQUIPA
266,269,ATICO,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AREQUIPA

In [12]:
a = ar_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [13]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [14]:
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [15]:
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                       float64
4_6_years_men               float64
4_6_years_women             float64
4_6_years_total             float64
6_14_years_men              float64
6_14_years_women            float64
6_14_years_total            float64
man_read                    float64
women_read                  float64
total_read                  float64
men_not_read                float64
women_not_read              float64
total_not_read              float64
man_write                   float64
women_write                 float64
total_write                 float64
men_not_write               float64
women_not_write             float64
total_not_write             float64
instruction_men             float64
instruction_women           float64
instruction_total           float64
no_instruction_men          float64
no_instruction_women        float64
no_instruction_total        float64
finished_instr_men          float64
finished_instr_women        float64
finished_instr_total        float64
not_finished_instr_men      float64
not_finished_instr_women    float64
not_finished_instr_total    float64
peruvian_men                float64
peruvian_women              float64
foreign_men                 float64
foreign_women               float64
whites                      float64
natives                     float64
mestizos                    float64
blacks                       object
dtype: object

## Contiene columnas combinadas EN LLUTA por eso los toma como float

In [16]:
Code1= a12.to_excel("Region_Arequipa.xlsx")
Code1