In [2]:
import pandas as pd

# Import data

In [4]:
puno = pd.read_excel(r"C:\Users\egonz\Desktop\Data/PUNO.xlsx")
puno["Region"] = "PUNO"
region = puno["Region"]
puno.drop(labels = "Region", axis=1, inplace = True)
puno.insert(0, "Region", region)
puno.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [5]:
puno

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,PUNO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PUNO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,PUNO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,PUNO,PUNO,P.Puno,63,55,118,301,304,605,173,...,318,640,364,359,2,3,435,208,78,2
4,PUNO,PUNO,C.Checa,8,2,10,4,1,5,0,...,3,15,12,3,0,0,0,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,PUNO,POTO,P. Poto,14,4,18,28,31,59,5,...,35,77,42,35,0,0,4,62,11,0
290,PUNO,POTO,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
291,PUNO,PHARA,P. Phara,0,5,5,0,62,62,0,...,67,67,0,67,0,0,4,63,0,0
292,PUNO,PHARA,C. Limbani,1,0,1,82,0,82,12,...,0,83,83,0,0,0,8,65,0,0
293,PUNO,PHARA,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
puno["District"] = puno["District"].str.upper()
puno["Place"] = puno["Place"].str.upper()

In [8]:
puno["Place"] = puno["Place"].str.strip()

In [9]:
errors = puno.loc[puno["Place"]=="TOTAL"]
errors_list = errors.index.tolist()

In [10]:
puno_clean = puno.drop(puno.index[errors_list])
puno_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,PUNO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PUNO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,PUNO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,PUNO,PUNO,P.PUNO,63,55,118,301,304,605,173,...,318,640,364,359,2,3,435,208,78,2
4,PUNO,PUNO,C.CHECA,8,2,10,4,1,5,0,...,3,15,12,3,0,0,0,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,PUNO,QUIACA,C. TAMBOPATA,5,3,8,15,7,22,1,...,10,30,20,10,0,0,5,11,14,0
287,PUNO,SINA,P. SINA,8,8,16,53,35,88,3,...,43,104,60,43,1,0,0,36,68,0
289,PUNO,POTO,P. POTO,14,4,18,28,31,59,5,...,35,77,42,35,0,0,4,62,11,0
291,PUNO,PHARA,P. PHARA,0,5,5,0,62,62,0,...,67,67,0,67,0,0,4,63,0,0
292,PUNO,PHARA,C. LIMBANI,1,0,1,82,0,82,12,...,0,83,83,0,0,0,8,65,0,0

In [11]:
puno_clean = puno_clean.drop([0, 1, 2],axis=0)
puno_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,PUNO,PUNO,P.PUNO,63,55,118,301,304,605,173,...,318,640,364,359,2,3,435,208,78,2
4,PUNO,PUNO,C.CHECA,8,2,10,4,1,5,0,...,3,15,12,3,0,0,0,15,0,0
5,PUNO,PUNO,PAIRA,3,3,6,19,11,30,0,...,14,36,22,14,0,0,0,36,0,0
6,PUNO,PUNO,HUARAYA,2,1,3,21,6,27,0,...,7,30,23,7,0,0,0,30,0,0
7,PUNO,PUNO,MANTO,2,5,7,3,0,3,0,...,5,10,5,5,0,0,0,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,PUNO,QUIACA,C. TAMBOPATA,5,3,8,15,7,22,1,...,10,30,20,10,0,0,5,11,14,0
287,PUNO,SINA,P. SINA,8,8,16,53,35,88,3,...,43,104,60,43,1,0,0,36,68,0
289,PUNO,POTO,P. POTO,14,4,18,28,31,59,5,...,35,77,42,35,0,0,4,62,11,0
291,PUNO,PHARA,P. PHARA,0,5,5,0,62,62,0,...,67,67,0,67,0,0,4,63,0,0
292,PUNO,PHARA,C. LIMBANI,1,0,1,82,0,82,12,...,0,83,83,0,0,0,8,65,0,0

In [12]:
puno_clean = puno_clean.reset_index()
puno_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,PUNO,PUNO,P.PUNO,63,55,118,301,304,605,...,318,640,364,359,2,3,435,208,78,2
1,4,PUNO,PUNO,C.CHECA,8,2,10,4,1,5,...,3,15,12,3,0,0,0,15,0,0
2,5,PUNO,PUNO,PAIRA,3,3,6,19,11,30,...,14,36,22,14,0,0,0,36,0,0
3,6,PUNO,PUNO,HUARAYA,2,1,3,21,6,27,...,7,30,23,7,0,0,0,30,0,0
4,7,PUNO,PUNO,MANTO,2,5,7,3,0,3,...,5,10,5,5,0,0,0,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,285,PUNO,QUIACA,C. TAMBOPATA,5,3,8,15,7,22,...,10,30,20,10,0,0,5,11,14,0
216,287,PUNO,SINA,P. SINA,8,8,16,53,35,88,...,43,104,60,43,1,0,0,36,68,0
217,289,PUNO,POTO,P. POTO,14,4,18,28,31,59,...,35,77,42,35,0,0,4,62,11,0
218,291,PUNO,PHARA,P. PHARA,0,5,5,0,62,62,...,67,67,0,67,0,0,4,63,0,0
219,292,PUNO,PHARA,C. LIMBANI,1,0,1,82,0,82,...,0,83,83,0,0,0,8,65,0,0

In [13]:
a = puno_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [14]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [15]:
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [16]:
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men               float64
4_6_years_women             float64
4_6_years_total             float64
6_14_years_men              float64
6_14_years_women            float64
6_14_years_total            float64
man_read                    float64
women_read                  float64
total_read                  float64
men_not_read                float64
women_not_read              float64
total_not_read              float64
man_write                   float64
women_write                 float64
total_write                 float64
men_not_write               float64
women_not_write             float64
total_not_write             float64
instruction_men             float64
instruction_women           float64
instruction_total           float64
no_instruction_men          float64
no_instruction_women        float64
no_instruction_total        float64
finished_instr_men          float64
finished_instr_women        float64
finished_instr_total        float64
not_finished_instr_men      float64
not_finished_instr_women    float64
not_finished_instr_total    float64
peruvian_men                float64
peruvian_women              float64
foreign_men                 float64
foreign_women               float64
whites                      float64
natives                     float64
mestizos                    float64
blacks                      float64
dtype: object

In [38]:
a12['blacks'] = a12['blacks'].astype(np.int64)

NameError: name 'np' is not defined

In [29]:
import numpy as pd

In [31]:
a12['blacks'] = a12['blacks'].fillna(0).astype(np.int64)

NameError: name 'np' is not defined

In [23]:
import numpy as pd

In [13]:
Code1= a12.to_excel("Region_Amazonas.xlsx")
Code1