LIMA CENSO 1902

In [1]:
import pandas as pd

In [2]:
lima = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/LIMA_FINALIZADO.xlsx")
lima["Region"] = "LIMA"
Region = lima["Region"]
lima.drop(labels = "Region", axis=1, inplace = True)
lima.insert(0, "Region", Region)
lima.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [3]:
lima["District"] =lima["District"].str.upper()
lima["Place"] = lima["Place"].str.upper()

In [4]:
lima["Place"] = lima["Place"].str.strip()
# Find errors with string = Total
errors = lima.loc[lima["Place"]=="TOTAL"]
error_list = errors.index.tolist()

lima_clean = lima.drop(lima.index[error_list])
lima_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LIMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LIMA,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,LIMA,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,LIMA,LIMA,CUARTEL 10,396,405,801,1707,1739,3446,1319,...,1779,3536,2062,2013,41,131,2125,946,1112,164
4,LIMA,LIMA,CUARTEL 20,423,423,846,1752,1979,3731,1227,...,2168,4104,2115,2296,60,106,1789,1141,1448,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,LIMA,SAN LUIS,QUEBRADA,4,5,9,21,20,41,2,...,25,50,25,25,0,0,3,28,6,13
367,LIMA,SAN LUIS,CASA BLANCA,3,2,5,17,8,25,6,...,10,30,20,10,0,0,1,7,17,5
368,LIMA,SAN LUIS,SAN JUAN DE ARONA,8,7,15,37,36,73,1,...,43,88,45,43,0,0,0,24,10,54
369,LIMA,SAN LUIS,SANTA BÁRBARA,1,10,11,27,19,46,3,...,29,63,34,29,0,0,0,20,30,13
370,LIMA,SAN LUIS,HUACA,5,4,9,17,10,27,3,...,14,36,22,14,0,0,0,8,16,12

In [5]:
lima_clean = lima_clean.drop([0, 1, 2],axis=0)
lima_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,LIMA,LIMA,CUARTEL 10,396,405,801,1707,1739,3446,1319,...,1779,3536,2062,2013,41,131,2125,946,1112,164
4,LIMA,LIMA,CUARTEL 20,423,423,846,1752,1979,3731,1227,...,2168,4104,2115,2296,60,106,1789,1141,1448,199
5,LIMA,LIMA,CUARTEL 30,455,437,892,1794,1892,3686,985,...,2061,4152,2239,2318,10,11,1234,1006,2054,284
6,LIMA,LIMA,CUARTEL 40,432,368,800,1685,1752,3437,1389,...,1868,3728,1985,2018,132,102,1845,548,1482,362
7,LIMA,LIMA,CUARTEL 50,373,407,780,1740,1900,3640,1248,...,2046,3937,2110,2300,3,7,2029,789,1388,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,LIMA,SAN LUIS,QUEBRADA,4,5,9,21,20,41,2,...,25,50,25,25,0,0,3,28,6,13
367,LIMA,SAN LUIS,CASA BLANCA,3,2,5,17,8,25,6,...,10,30,20,10,0,0,1,7,17,5
368,LIMA,SAN LUIS,SAN JUAN DE ARONA,8,7,15,37,36,73,1,...,43,88,45,43,0,0,0,24,10,54
369,LIMA,SAN LUIS,SANTA BÁRBARA,1,10,11,27,19,46,3,...,29,63,34,29,0,0,0,20,30,13
370,LIMA,SAN LUIS,HUACA,5,4,9,17,10,27,3,...,14,36,22,14,0,0,0,8,16,12

In [6]:
lima_clean = lima_clean.reset_index()
lima_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,LIMA,LIMA,CUARTEL 10,396,405,801,1707,1739,3446,...,1779,3536,2062,2013,41,131,2125,946,1112,164
1,4,LIMA,LIMA,CUARTEL 20,423,423,846,1752,1979,3731,...,2168,4104,2115,2296,60,106,1789,1141,1448,199
2,5,LIMA,LIMA,CUARTEL 30,455,437,892,1794,1892,3686,...,2061,4152,2239,2318,10,11,1234,1006,2054,284
3,6,LIMA,LIMA,CUARTEL 40,432,368,800,1685,1752,3437,...,1868,3728,1985,2018,132,102,1845,548,1482,362
4,7,LIMA,LIMA,CUARTEL 50,373,407,780,1740,1900,3640,...,2046,3937,2110,2300,3,7,2029,789,1388,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,366,LIMA,SAN LUIS,QUEBRADA,4,5,9,21,20,41,...,25,50,25,25,0,0,3,28,6,13
307,367,LIMA,SAN LUIS,CASA BLANCA,3,2,5,17,8,25,...,10,30,20,10,0,0,1,7,17,5
308,368,LIMA,SAN LUIS,SAN JUAN DE ARONA,8,7,15,37,36,73,...,43,88,45,43,0,0,0,24,10,54
309,369,LIMA,SAN LUIS,SANTA BÁRBARA,1,10,11,27,19,46,...,29,63,34,29,0,0,0,20,30,13
310,370,LIMA,SAN LUIS,HUACA,5,4,9,17,10,27,...,14,36,22,14,0,0,0,8,16,12

In [7]:
a= lima_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [8]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [9]:
a= a.infer_objects()
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [11]:
Code1= a.to_excel("Region_Lima.xlsx") 
Code1

In [ ]:
a12.

In [ ]:
Code1= B01.to_excel("Lima_finalizado.xlsx")
Code1